body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #EAEEED;
}

::-webkit-scrollbar-thumb {
  background-color: #babcbd;
  border-radius: 20px;
}